//
// Load core variables and mixins
// --------------------------------------------------

@import "../../../lib/ybase-0.1.0/less/ybase.less";
@import "../../../lib/ybase-0.1.0/less/addons.less";
@import "variables.less";

#addToCartButton{
	background-color:#3fb44b
}

.add_to_cart_form .btn-primary{
	background-color:#3fb44b
}

.product_listing .price{
	    color: #a71931;
}

.product__listing .product__list--price-panel {
    text-align: right;
    font-weight: bold;
    font-size: 21px;
    color: #a71931;
}

.navigation.navigation--top {
    background-color:#a71931
}

.navigation.navigation--top {
    background-color:#a71931
}

.navigation--top .nav__right .nav__links--account li{
	color:white;
}

footer {
    padding-top: 50px;
    margin-top: 30px;
    background: #a71931;
    color: #ffffff;
    font-weight: 300;
}

.navigation--bottom {
    background-color: black !important;
    border-bottom: 1px solid black !important;
}

.footer__right .footer__dropdown .form-control {
    background-color: #a71931;
    
}

.footer-bottom{
	background-color:black !important;
	background:#a71931 !important;
}

.footer__copyright {
    background: #a71931 !important;
    padding: 25px 0;
    color: #ffffff;
    text-align: center;
}
